In [168]:
import pandas as pd
import requests
import bs4

In [82]:
base_url = "http://books.toscrape.com/catalogue/category/books_1/page-{}.html"
base_book_link = "http://books.toscrape.com/catalogue/{}"
rating = ["One", "Two", "Three", "Four", "Five"]

In [134]:
ratings = ['One', 'Two', 'Three', 'Four', 'Five']

In [158]:
res = requests.get(base_url.format(1))
soup = bs4.BeautifulSoup(res.text, 'lxml')
products = soup.select(".product_pod")
# product[:1]
products[0]

<article class="product_pod">
<div class="image_container">
<a href="../../a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="../../../media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="../../a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">Â£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>

In [121]:
# title code
example = products[2]
title = example.select("a")[1]["title"]
title

'Soumission'

In [143]:
# link to book
url = products[0]
res = base_book_link.format(url.select("a")[1]["href"].replace("../../", ''))
res

'http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'

In [192]:
# code for price
example4 = products[0]
price_element = example4.select("p")[1].text.strip().replace('Â', '')
print("Price:", price_element)

Price: £38.00

In [151]:
# code for rating
example5 = products[0]
rating = example5.select(".star-rating.Three")
rating

[<p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [195]:
book_data = []

In [196]:
count = 1
for i in range(1, 51):
  url = base_url.format(i)
  result = requests.get(url)
  soup = bs4.BeautifulSoup(result.text, 'lxml')
  products = soup.select(".product_pod")
  for product in products:
      title = product.select("a")[1]['title']
      price = product.select("p")[1].text.strip().replace('Â', '')
      book_url = base_book_link.format(product.select("a")[1]["href"].replace("../../", ''))
      rate = 0
      for rating in ratings:
        if len(product.select(".star-rating.{}".format(rating))):
          rate = rating
          break

      book_data.append({'Serial Number':count,'title' : title, 'rating' : rate, 'price' : price, 'link':book_url})
      count += 1

In [197]:
df = pd.DataFrame(book_data)
df.shape

(1000, 5)

In [198]:
df.to_csv("books_data.csv", index=False)